body {
  color: royalblue;
}
.main {
  text-align: Center;
  font-size: 30px;
}
fieldset {
  margin: 15% 15% 15%;
  margin-top: 0;
  padding: 20px;
  padding-bottom: 2;
  border-color: rgb(84, 111, 192);
  border-radius: 4px solid;
}
#left {
  width: 35%;
  float: left;
  padding: 5%;
  padding-top: 1.5%;
  border-right: 4px solid royalblue;
}
#right {
  width: 50%;
  font-style: normal;
  float: right;
  padding-left: 5px;
}
h3 {
  font-size: 1.12em;
}
h4 {
  line-height: 0px;
}
